llvm-project
riscv-gnu-toolchain
riscv-collab-gnu-toolchain
riscv-collab-gnu-toolchain-old
riscv-collab-gnu-toolchain-new
riscv-isa-sim
riscv-isa-sim-old
riscv-isa-sim-new
riscv-isa-sim-nthu
riscv-pk
riscv-pk-old
qemu

spike-test/*
!spike-test/**/*.S
!spike-test/**/*.c
